<h2 class="mt-4 mb-4 text-center">Mis mascotas</h2>
<div class="container">
  {{#each myPets}}
  <div class="customCard mb-3">
    <div class="customCardImg">
      <a href="pet-profile/{{this._id}}"><img src="{{this.pic}}" alt="pet picture" width="258px" height="258px"></a>
    </div>
    <div class="customCardDetails">
      <p><span class="font-weight-bold">Nombre:</span> {{this.name}}</p>
      <p><span class="font-weight-bold">Edad:</span> {{this.age}} años</p>
      <a class="btn btn-warning" href="edit/pet-profile/{{this._id}}">Editar</a>
    </div>
  </div>
  {{/each}}
</div>
<div class="text-center">
  <a class="btn btn-secondary" href="/addPet">Añadir mascota</a>
</div>


 

<!-- 
  <span>Photo by <a href="https://unsplash.com/@majomaya?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Yan Laurichesse</a> on <a href="/s/photos/cat-and-dog?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
-->