<h2>Pet Profile Page</h2>

{{#if userInSession}}

{{#with pet}}
<p>Nombre: {{name}}</p>
<p>Tipo de mascota: {{animal}}</p>
<p>Raza: {{breed}}</p>
<p>Edad: {{age}}</p>
<form action="/delete/pet/{{this._id}}" method="POST">
<a class="btn btn-secondary" href="/pets">Back</a>
  <button type="submit" class=" btn btn-danger">Delete</button>
</form>
{{/with}}
{{/if}}
<h3>{{errorMessage}}</h3>