<h2>Edit Profile</h2>

<div>
    <form action="/edit/user-profile" method="POST">
        <input type="hidden" name="_id" value="{{userInSession._id}}" />
        <label for="firstName">Name</label>
        <br>
        <input type="text" name="firstName" class="form-input" placeholder="Name" value="{{userInSession.firstName}}" />
        <br>
        <label for="lastName">Last name</label>
        <br>
        <input type="text" name="lastName" class="form-input" placeholder="Last name" value="{{userInSession.lastName}}" />
        <br>
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" class="form-input" placeholder="Username" value="{{userInSession.username}}" />
        <br>
        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
        <input type="submit" value="Save" class="btn btn-primary" />
        <a href="/user-profile" class="btn btn-danger">Cancel</a>
    </form>
</div>

<div>
    <form action="/edit/pwd" method="POST" >
        <label for="oldPassword">Old password</label>
        <br>
        <input type="password" name="oldPassword" id="oldPassword" class="form-input" placeholder="Enter your current password" />
        <br>
        <label for="password">New password</label>
        <br>
        <input type="password" name="newPassword" id="newPassword" class="form-input" placeholder="Enter a new password" />
        <br>
        <label for="newPassword">Confirm new password</label>
        <br>
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-input" placeholder="Confirm the new password"/><span id="checkMessage"></span>
        <br>
        <input type="submit" value="Save" id="saveButton" class="btn btn-primary" disabled/>
    </form>
</div> 
<script type="text/javascript" src="/javascripts/editUserProfile/checkConfirmPassword.js"></script>
