<h2>Edit Profile</h2>

<form action="/edit/user-profile/:userId" method="POST">
    <input type="hidden" name="_id" value="{{userInSession._id}}"/>
    <label for="name">Name</label>
    <br>
    <input type="text" name="name" class="form-input" placeholder="Name" value="{{userInSession.firstName}}"/>
    <br>
    <label for="lastName">Last name</label>
    <br>
    <input type="text" name="lastName" class="form-input" placeholder="Last name" value="{{userInSession.lastName}}"/>
    <br>
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" class="form-input" placeholder="Username" value="{{userInSession.username}}"/>
    <br>
    <label for="password">New password</label>
    <br>
    <input type="password" name="password" class="form-input" placeholder="Enter a new password"/>
    <br>
    <label for="newPassword">Confirm new password</label>
    <br>
    <input type="password" name="newPassword" class="form-input" placeholder="Confirm the new password"/>
    <br>
    <br>
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
    <input type="submit" value="Save" class="btn btn-primary"/>
    <a href="/user-profile" class="btn btn-danger">Cancel</a>
</form>