<h2>User Profile Page</h2>

{{#if userInSession}}
  <h2>Welcome, {{ userInSession.username }}!</h2>
  <p>Email: {{userInSession.email}}</p>
  <p>Name {{ userInSession.firstName }}</p>
  <p>Last name {{ userInSession.lastName }}</p>
  <div>
    <a href="edit/user-profile/{{userInSession._id}}"><img id="edit-icon" src="../../images/edit-icon.png"></a>
  </div>
  <p>My pets:</p>
  <ul>
    {{#each myPets}}
    <li>
      <a href="/pet-profile/{{this._id}}">{{this.name}}</a>
      <form action="/delete/pet/{{this._id}}" method="POST">
        <button type="submit" class="btn btn-danger">X</button>
      </form>
    </li>
    {{/each}}
  </ul>
  <button>
    <a href="/user-profile/addPet">Add a pet</a>
  </button>
{{else}}
  <p>You are not logged in.</p>
{{/if}}