
<div class="container"> 
  <h3 class="text-center">{{appointment.title}}</h3>
  <div class="row mt-5 mx-4">
    <div class="col">
      <p><span class="font-weight-bold">Mascota: </span>{{appointment.pet.name}}</p>
      <p><span class="font-weight-bold">Vet: </span>{{appointment.vet}}</p>
    </div>
    <div class="col">
      <p><i class="far fa-calendar-alt"></i><span> {{appointment.date}}</span></p>
      <p><i class="far fa-clock"></i><span> {{appointment.time}}hrs</span></p>
      <p></p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <label class="text-center font-weight-bold w-100" for="comments">Comentarios adicionales</label>
      <textarea class="w-100 my-2" name="comments" readonly>
        {{#if appointment.comments}}
          {{appointment.comments}}
          {{else}}
          No hay comentarios adicionales
          {{/if}}
      </textarea>
      <div class="d-flex mt-3 mx-4">
        <a class="btn btn-secondary w-50 mr-1" href="/appointments">Mis citas</a>
        <a class="btn btn-warning w-50" href="/edit/appointment/{{appointment._id}}">Editar</a>
      </div>
    </div>
  </div>
</div>
