<div class="container">
  <h3 class="text-center">{{appointment.title}}</h3>
  <div class="row mt-5 mx-4">
    <div class="col">
      <p><span class="font-weight-bold">Mascota: </span>{{appointment.pet.name}}</p>
      <p><span class="font-weight-bold">Vet: </span>{{appointment.vet}}</p>
      
    </div>
    <div class="col">
      <p><i class="far fa-calendar-alt"></i> <span id="date-view"> {{appointment.date}}</span></p>
      <p><i class="far fa-clock"></i><span> {{appointment.time}}hrs</span></p>
    </div>
  </div>
  <div  class="row mx-4">
    <div class="col">
      <p><span class="font-weight-bold">Clínica: </span><span id="vet-title">{{appointment.vetOfficeName}}</span></p>
    </div>
  </div>
  <div id="map"></div>
  <div id="infowindow-content">
    <span id="place-name" class="title"></span><br>
    <span id="place-address"></span>
  </div>
  <div class="row mt-3">
    <div class="col">
      <label class="text-center font-weight-bold w-100" for="comments">Comentarios adicionales</label>
      <textarea class="w-100 my-2" name="comments" readonly>
        {{#if appointment.comments}}
          {{appointment.comments}}
          {{else}}
          No hay comentarios adicionales
          {{/if}}
      </textarea>
    </div>
  </div>
  <div class="d-flex mt-3 mx-4">
    <a class="btn btn-secondary w-50 mr-1" href="/appointments">Mis citas</a>
    <a class="btn btn-warning w-50" href="/edit/appointment/{{appointment._id}}">Editar</a>
  </div>
</div>
<p hidden id="appointment-lat">{{appointment.lat}}</p>
<p hidden id="appointment-lng">{{appointment.lng}}</p>
<p hidden id="complete-address">{{appointment.center}}</p>
<script src="/javascripts/createPet/script.js"></script> 
<script
  src="https://maps.googleapis.com/maps/api/js?key={{googleKey}}&libraries=places"></script>
<script type="text/javascript" src="/javascripts/map/mapView.js"></script>

