<div class="container">
  <h3 class="text-center">Edita la cita</h3>
  <form class="form-group" action="/edit/appointment/{{appointment._id}}" method="POST">
    <label for="title" class="mt-3">Titulo</label>
    <input class="form-control" type="text" value="{{appointment.title}}" name="title"/>
    <label for="pet" class="mt-3">Mascota</label>
    <input class="form-control" type="text" value="{{appointment.pet.name}}" name="pet" readonly/>
    <label for="vet" class="mt-3">Veterinarix</label>
    <input class="form-control" type="text" value="{{appointment.vet}}" name="vet"/>
    <div class="row mt-3">
      <div class="col">
        <label for="date">Fecha</label>
        <input class="form-control" type="date" value="{{appointment.date}}" name="date" />
      </div>
      <div class="col">
        <label for="time">Hora</label>
        <input class="form-control" type="time" value="{{appointment.time}}" name="time" />
      </div>
    </div>
    <label for="comments" class="mt-3">Comentarios adicionales</label>
    <textarea class="w-100 mt-2" name="comments">{{appointment.comments}}</textarea>
    <div class="d-flex mt-3">
      <button class="btn btn-secondary w-50 mr-1"><a href="/appointment/{{appointment._id}}" class="text-decoration-none text-white">Cancelar</a></button>
      <button class="btn btn-success w-50"type="submit">Aceptar</button>
    </div>
  </form>
  <form class="form-group" action="/delete/appointment/{{appointment._id}}" method="POST">
    <button type="submit" class="btn btn-danger w-100 mt-4">Borrar cita</button>
  </form>
</div>